/* body{
  background-color: green;
  margin-left: 200px;
  background-image: url("./imgs/back1.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
div{
  background-color: yellow;
  border: 6px dotted red;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 25%;
  margin-left: auto;
  margin-top: 20%;
  margin-right: auto;
} */
ul{
  text-align: center;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-top: 2px dashed red;
  border-bottom: 2px dashed red;
}
ul>li{
  display: inline-block;
  width: 100px;
  list-style: none;
  letter-spacing: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
ul>li>a{
  color: black;
  text-decoration: none;
}
ul>li>a:hover{
  color: blue;
  background-color: yellow;
  font-weight: bold;
}
table{
  width: 50%;
  margin: 0 auto;

  border-collapse: collapse;
}

table,td,th{
  border: 2px solid black;
}
td{
  text-align: center;
  height: 40px;
}
td.name{
  vertical-align: bottom;
}
th{
  background-color: green;
  color: white;
}
caption{
  caption-side: bottom;
}
